/* Animação 1 */

.hero-content h5 {
    font-size: 15px;
    font-weight: 500;
    color: #dd1d26;
    padding: 0 0 7px 11px;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.hero-content h5:before {
    position: absolute;
    content: "";
    left: 0px;
    top: -4px;
    width: 30px;
    height: 25px;
    background: #dd1d26;
    opacity: .2;
    border-radius: 3px;
    transition: .5s;
}


/* Texto personlaizado  */

.hero-content h1 {
    font-size: 52px;
    line-height: 57px;
}
.hero-content h1 span {
    background: linear-gradient( to right, #fb9737, 50%, #dd1d25 75%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}


/* Cards Service */

.single-service-box {
    padding: 40px 20px 33px;
    filter: drop-shadow(0px 10px 20px rgba(221,29,38,0.07));
    background-color: #fff;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;
}

.single-service-box:before {
    position: absolute;
    content: "";
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-45deg, #dd1d25 0%, #fb9737 100%);
    transform: scale(.2, 1);
    opacity: 0;
    transition: .5s;
    border-radius: 5px;
}
.single-service-box:after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 74px;
    bottom: 0;
    margin: auto;
    width: 218px;
    height: 218px;
    background: #fff;
    border-radius: 100%;
    opacity: 0.102;
    animation: dance3 2s alternate infinite;
}


.service-icon {
    position: relative;
}
.service-icon:before {
    position: absolute;
    content: "";
    right: 0;
    left: 60px;
    margin: auto;
    top: -2px;
    width: 51px;
    height: 51px;
    line-height: 51px;
    background: #dd1d26;
    border-radius: 50%;
    opacity: .102;
}
.service-icon img {
    transition: .5s;
}

.service-content h3 {
    font-size: 24px;
    padding: 23px 0 21px;
    transition: .5s;
}
.service-content p {
    transition: .5s;
}


.service-button a {
    font-weight: 500;
    color: #dd1d26;
    margin: 4px 0 0;
    display: inline-block;
}
.service-button a i {
    padding-left: 6px;
    position: relative;
    top: 2px;
}

/*service all hover*/
.single-service-box:hover .service-icon:before {
    opacity: .400;
    background: #fff;
}
.single-service-box:hover .service-icon img {
    filter: brightness(0) invert(1);
}
.single-service-box:hover .service-content h3 {
    color: #fff;
}
.single-service-box:hover .service-content p {
    color: #fff;
}
.single-service-box:hover .service-button a {
    color: #fff;
}

.single-service-box:hover:before{
    transform: scale(1);
    opacity: 1;
}


/*service shape*/
.service-shape {
    position: absolute;
    right: 136px;
    top: 80px;
    text-align: right;
}
.service-shape2 {
    position: absolute;
    text-align: right;
    right: -130px;
}
.service-shape3 {
    position: absolute;
    text-align: right;
    right: -145px;
    bottom: 45px;
}
.service-shape4 {
    position: absolute;
    top: -24px;
    left: 212px;
}
.service-shape5 {
    position: absolute;
    top: 105px;
    left: -100px;
}



/* Certification /container 5 */

.bounce-animate {
    animation-name: float-bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 2s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 2s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 2s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear; }
  .bounce-animate2 {
    animation-name: float-bob2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: float-bob2;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob2;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob2;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear; }
  .bounce-animate3 {
    animation-name: float-bob3;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: float-bob3;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob3;
    -ms-animation-duration: 3s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob3;
    -o-animation-duration: 3s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear; }
  .bounce-animate4 {
    animation-name: float-bob4;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: float-bob4;
    -moz-animation-duration: 5s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob4;
    -ms-animation-duration: 5s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob4;
    -o-animation-duration: 5s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear; }
   .bounce-animate5 {
    animation-name: float-bob5;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -moz-animation-name: float-bob5;
    -moz-animation-duration: 6s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob5;
    -ms-animation-duration: 6s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob5;
    -o-animation-duration: 6s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear; }
  .bounce-animate-slow {
      animation-name: float-bob5;
      animation-duration: 15s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -moz-animation-name: float-bob5;
      -moz-animation-duration: 15s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: float-bob5;
      -ms-animation-duration: 15s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      -o-animation-name: float-bob5;
      -o-animation-duration: 15s;
      -o-animation-iteration-count: infinite;
      -o-animation-timing-function: linear;
  }
  .bounce-animate-3 {
      animation-name: float-bob6;
      animation-duration: 6s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      -moz-animation-name: float-bob6;
      -moz-animation-duration: 6s;
      -moz-animation-iteration-count: infinite;
      -moz-animation-timing-function: linear;
      -ms-animation-name: float-bob6;
      -ms-animation-duration: 6s;
      -ms-animation-iteration-count: infinite;
      -ms-animation-timing-function: linear;
      -o-animation-name: float-bob6;
      -o-animation-duration: 6s;
      -o-animation-iteration-count: infinite;
      -o-animation-timing-function: linear;
  }
  @-webkit-keyframes float-bob {
    0% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); }
    50% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px); }
    100% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); } }
  @-webkit-keyframes float-bob2 {
    0% {
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px); }
    50% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px); }
    100% {
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px); } }
  @-webkit-keyframes float-bob3 {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); }
    50% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px); }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); } }
  @-webkit-keyframes float-bob4 {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); }
    50% {
      -webkit-transform: translateY(-15px);
      transform: translateY(-15px); }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); } }
  @-webkit-keyframes float-bob5 {
    0% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); }
    50% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px); }
    100% {
      -webkit-transform: translateY(-50px);
      transform: translateY(-50px); } }
  @-webkit-keyframes float-bob6 {
    0% {
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px); }
    50% {
      -webkit-transform: translateY(-20px);
      transform: translateY(-20px); }
    100% {
      -webkit-transform: translateY(-40px);
      transform: translateY(-40px); } }   
  @-webkit-keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @keyframes movebounce {
    0% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
    50% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    100% {
      -webkit-transform: translateY(0px);
              transform: translateY(0px);
    }
  }
  
  @-webkit-keyframes moveleftbounce {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  @keyframes moveleftbounce {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(20px);
              transform: translateX(20px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  
  